html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    margin: 4rem 0 0 0;
}

img{
    max-width: 100%;
    }

a{
    text-decoration: none;
    }

p{
    margin: 0 0 2rem 0;
    line-height: 1.4;
    }

button{
    cursor: pointer;
}

button:hover{
    background-color: blue;
    color: white;
}

button:focus{
    background-color: blue;
    color: white;
}

.button{
    min-width: 10rem;
    min-height: 4rem;
}

p:last-child{
    margin-bottom: 0;
    }

.main-container{
    max-width: 1366px;
    margin: 0 auto;
}

.switcher{
    width: 90rem;
    margin: 0 auto;
}

.field{
    width: 90rem;
    margin: 0 auto;
}

.grid-container{
    display: grid; 
    grid-gap: 2rem;
    
}

.flex-container{
    display: flex;
}

.cards__switcher-item{
    flex-direction: column;
}

.switcher__buttons{
    justify-content: center;
    margin-bottom: 2rem;
}

.switcher__buttons-item{
    margin-right: 3rem;
}

.switcher__buttons-item:last-child{
    margin-right: 0;
}

.field{
    grid-template-columns: repeat(5, 15rem);
    grid-template-rows: repeat(5, 8rem);
}

.cards__switcher{
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 3rem;
}

.field__swither{
    margin-bottom: 1rem;
}

.grid-item{
    text-align: center;
    cursor: pointer;
}

.field-item{
    /*width: 150px;
    height: 80px;*/
    text-align: center;
    min-height: 8rem;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Anton-Regular";
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray{
    background-color: gray;
    color: gray;
}

.red{
    background-color: red;
    color: red;
}

.blue{
    background-color: blue;
    color: blue;
}

.black{
    background-color: black;
    color: black;
}

.none{
    display: none;
}

@media screen and (max-width: 768px){
    .switcher{
        width: 100%;
        margin: 0 2rem;
    }
    
    .field{
        width: 100%;
        margin: 0 2rem;
    }

    .field{
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, auto);
    }
    
    .cards__switcher{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        margin-bottom: 3rem;
    }

    .field-item{
        padding: 0.5rem;
        min-height: 5rem;
    }
}
